.bookmark-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .bookmark-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .bookmark-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  