@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins',serif;
}
.app__content {
  display: flex;
  flex: 1;
}
.app__main {
  flex: 1;
  padding: 2rem; 
  margin-left: 8rem;
  margin-top: 6rem;
}

.app__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10rem;
  background-color: white;
  border-top: 1px solid #ffe5e5;
  padding-top: 1rem;
  padding-bottom: 2rem; 
  margin-top: 2rem;
}

.app__socials {
  display: flex;
  justify-content: center;
  gap: 2rem; 
}

.app__social-link {
  color: #e63946;
  transition: color 0.3s ease;
  text-decoration: none;
}

.app__social-link:hover {
  color: #dc2626;
}

.app__icon {
  width: 1.5rem;
  height: 1.5rem;
}
/* added css from whatsapp */

/* Navbar */
/* .navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #ff6666;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-icon {
  width: 30px;
  height: 30px;
} */

/* Body */
.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
/* food card additional */
.food-card {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.food-card img {
  width: 100%;
  height: auto;
}

.food-card p {
  margin: 10px 0;
  font-weight: bold;
}

.food-card:hover {
  transform: scale(1.05);
}

/* Footer
.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #ff4d4d;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
} */