@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9fafb; 
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; 
}

::-webkit-scrollbar-thumb {
  background-color: #f87171; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ef4444;
}
